.popup__text {
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    outline: 0;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 0 10px 0;
    width: 238px;

}

.popup__text:focus {
    outline: 2px groove rgb(6, 183, 196);
}

@media screen and (min-width: 768px) {
    .popup__text {
        width: 358px;
    }
}