@media screen and (min-width: 768px) {
    .profile__info {
        margin: auto 0;
        display: flex;
        gap: 16px;
        flex-direction: column;
        min-width: 230px;
        margin-left: 30px;
    } 
}

@media screen and (min-width: 1024px) {
    .profile__info {
        min-width: 336px;
    } 
}