.profile__info-heading {
    margin: 0 0 0 30px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .profile__info-heading {
        text-align: start;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .profile__info-heading {
        font-size: 42px;
        line-height: 48px;
    }
}