.header__email {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}



@media screen and (max-width: 460px) {
    .header__email {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 375px) {
    .header__email {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 110px;
    }
}
