.profile__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: inherit;
    margin: 42px auto 26px auto;
    transition: opacity 0.4s ease;
}

@media screen and (min-width: 768px) {
    .profile__image {
        margin: 0;
    }
}


